:root {
    --bg-color: hsl(0, 0%, 25%);
    --fg-color: hsl(0, 0%, 85%);
    --fg-alt-color: hsl(0, 0%, 15%);
    --up-color: hsl(120, 45%, 50%);
    --down-color: hsl(0, 45%, 50%);
    --flat-color: hsl(0, 0%, 60%);
}

body {
    font-family: Helvetica, Calibri, Arial, sans;
    background-color: var(--bg-color);
    color: var(--fg-color);
}

.hdr {
    text-align: center;
}

.hdr__brand {
    font-size: 3rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--fg-color);
}

.main {
    margin: auto;
    max-width: 48rem;
}

.main__sec {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
}

.main__title {
    flex-basis: 100%;
    text-align: center;
}

.quote {
    border: 1px solid var(--fg-color);
    border-radius: .5rem;
    padding: 1rem;
    width: 12rem;
    color: var(--fg-alt-color);
}

.quote--up {
    background-color: var(--up-color);
}

.quote--down {
    background-color: var(--down-color);
}

.quote--flat {
    background-color: var(--flat-color);
}

.quote__symbol {
    margin: 0 0 .5rem;
}

.quote__name {
    font-size: .8rem;
    margin: 0 0 .5rem;
}

.quote__section {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--fg-alt-color);
    padding-bottom: .25rem;
    margin-bottom: .25rem;
    font-size: .8rem
}

.quote__item {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 8rem;
}
