<!DOCTYPE html>
<html class="regular" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TDA Client</title>
  <meta name="description" content="TD Ameritrade API client.">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
  <header class="hdr">
    <a class="hdr__brand" href="#">TDA Client</a>
  </header>
  <main class="main">
    <section class="main__sec">
      <h1 class="main__title">Quotes</h1>
        {% for quote in quotes.values() %}
        <section class="quote quote--{{ quote['changeType'] }}">
            <h2 class="quote__symbol">{{ quote["symbol"] | n_a }}</h2>
            <p class="quote__name">{{ quote["description"] | n_a }}</p>
            <section class="quote__section">
                <section class="quote__item">
                  <div class="quote__label">Last</div>
                  <div class="quote__value">{{ quote["lastPrice"] | n_a | price }}</div>
                </section>
                <section class="quote__item">
                  <div class="quote__label">Bid</div>
                  <div class="quote__value">{{ quote["bidPrice"] | n_a | price }}</div>
                </section>
                <section class="quote__item">
                  <div class="quote__label">Ask</div>
                  <div class="quote__value">{{ quote["askPrice"] | n_a | price }}</div>
                </section>
            </section>
            <section class="quote__section">
                <section class="quote__item">
                  <div class="quote__label">Open</div>
                  <div class="quote__value">{{ quote["openPrice"] | n_a | price }}</div>
                </section>
                <section class="quote__item">
                  <div class="quote__label">High</div>
                  <div class="quote__value">{{ quote["highPrice"] | n_a | price }}</div>
                </section>
                <section class="quote__item">
                  <div class="quote__label">Low</div>
                  <div class="quote__value">{{ quote["lowPrice"] | n_a | price }}</div>
                </section>
                <section class="quote__item">
                  <div class="quote__label">Close</div>
                  <div class="quote__value">{{ quote["closePrice"] | n_a | price }}</div>
                </section>
            </section>
            <section class="quote__section">
                <section class="quote__item">
                  <div class="quote__label">Dividend</div>
                  <div class="quote__value">{{ quote["divAmount"] | n_a | price }}</div>
                </section>
                <section class="quote__item">
                  <div class="quote__label">Annual Yield</div>
                  <div class="quote__value">{{ quote["divYield"] | n_a | price }}</div>
                </section>
                <section class="quote__item">
                  <div class="quote__label">Ex Div Date</div>
                  <div class="quote__value">{{ quote["divDate"] | n_a | mm_dd }}</div>
                </section>
            </section>
        </section>
        {% endfor %}
    </section>
  </main>
</body>
</html>
